<!DOCTYPE html>
<html>
<head>
	<title>Claim</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="body-center-content body-background">
	<div class="content--container--viewEventsPage">


<div id="content">
        <div class="share-location" style="text-align: center;">
        <h2>You are within the claimable area</h2>
		
		<img src="http://maps.google.com/maps/api/staticmap?center=51.5268366,-0.0799105&zoom=13&markers=color:blue|51.5268366,-0.0799105&size=500x300&sensor=true&key=AIzaSyBvKxaf5KrCql_-ul8-2XZQYwteuUeWe0Y"/>
		
		<!-- img src="http://maps.google.com/maps/api/staticmap?center=< %=location.longitude %>,< %=location.latitude %>&zoom=13&markers=color:blue|< %=location.longitude %>,< %=location.latitude %>&size=500x300&sensor=true&key=AIzaSyBvKxaf5KrCql_-ul8-2XZQYwteuUeWe0Y"/ -->

        <div style="margin-bottom: 30px;">
        Your funds have been released.
        </div>
</div>


	</div>
	
	<script type="text/javascript">
	        var CC = CC || {};
	        CC.baseUrl = '';
	    </script>

	<script src="/js/scripts.js"></script>
	<script type="text/javascript" src="/js/location.js"></script>
</body>
</html>