<!DOCTYPE html>
<html>
<head>
	<title>Claim</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="body-center-content body-background">
	<div class="content--container--viewEventsPage">


<div id="content">
        <div class="share-location" style="text-align: center;">
        <h2>Share Location to claim your insurance</h2>

        <div style="margin-bottom: 30px;">
            <button type="button" id="locateNow"><b>Just Now</b></button>
        </div>

        <!-- div id="share-div">
                <div id="location-error">
                    <p style="font-size: 18px;"><b>Oops,</b> you have denied sharing your current location, sharing is disabled or something went wrong.<br><br>Please enable location sharing in the browser/privacy settings for this to work. Note, this location sharing request is only momentary. No future locations are shared, just your current location now.</p>
					
                    <a href="?" class="btn btn-primary">Try again</a><br/>

               
                </div>
    </div -->
</div>


	</div>
	
	<script type="text/javascript">
	        var CC = CC || {};
	        CC.baseUrl = '';
	    </script>

	<script src="/compiledcontract.js"></script>
	<script src="/js/scripts.js"></script>
	<script type="text/javascript" src="/js/location.js"></script>
</body>
</html>