<!DOCTYPE html>
<html>
<head>
	<title>Sunshine Contract</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body class="body-center-content body-background" ng-app="application">
	<div class="content--container--EventConfirmationPage" ng-controller="shareController">
		<div class="label--link noSelectText">Shareable Link:</div>
		<a ng-href="{{shareLink}}" id="shareLink" class="shareLink--style">
			{{shareLink}}
		</a>
	</div>

	<% include partials/footer %>
</body>
</html>
