<!DOCTYPE html>
<html>
<head>
	<title>Sunshine Contract</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body class="body-center-content body-background" ng-app="application">
	<div class="content--container--UserContractPage" ng-controller="createInsuranceController">
		<span ng-show="!event.organizerHash">
			<img src="/spinner.gif" width="100%">
		</span>
		<span ng-show="event.organizerHash">
			<img ng-if="event.location" src="http://maps.google.com/maps/api/staticmap?center={{event.location}}&zoom=13&markers=color:blue|{{event.location}}&size=500x200&sensor=true&key=AIzaSyBvKxaf5KrCql_-ul8-2XZQYwteuUeWe0Y" width="100%" />
			<div class="content--description text-16 noSelectText">
				You are attending <span id="eventName">{{event.name}}</span> at <span id="eventLocation">{{event.location}}</span> happening at <span id="eventDate">{{event.date | date : "dd/MM/yyyy"}}</span>.
			</div>
			<div class="content--description text-16 noSelectText">
				Do you want insurance against rain?
			</div>
			<div class="content--description height-50 content-display-center text-16">
				Purchase&nbsp;<input type="number" id="insurancePrice" value="1" class="input--field--number js-input-number-user" step="0.01" ng-keyup="updateConvertedValue()" ng-model="etherPrice">&nbsp;&#x4e09;&nbsp;<div class="input--icon--dims arrow-icon"></div>&nbsp;Get&nbsp;<input type="number" id="insurancePrize" value="1" class="input--field--number js-input-number-user-inflated" step="any" disabled ng-model="etherPrize">&nbsp;&#x4e09;
			</div>
			<div class="content--description">
				<input type="submit" value="Register for Insurance" class="input--field--submit js-submit-button-buy-insurance">
			</div>
		</span>
	</div>

	<% include partials/footer %>
</body>
</html>