<!DOCTYPE html>
<html>
<head>
	<title>Sunshine Contract</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body class="body-center-content body-background">
	<div class="content--container--UserContractPage">
		<div class="content--description text-16 noSelectText">
			You are attending <span id="eventName">eventName</span> at <span id="eventLocation">eventLocation</span> happening at <span id="eventDate">eventDate</span>.
		</div>
		<div class="content--description text-16 noSelectText">
			Do you want insurance against rain?
		</div>
		<div class="content--description height-50 content-display-center text-16">
			Purchase&nbsp;<input type="number" id="insurancePrice" value="1" class="input--field--number js-input-number-user" step="0.01">&nbsp;&#x4e09;&nbsp;<div class="input--icon--dims arrow-icon"></div>&nbsp;Get&nbsp;<input type="number" id="insurancePrize" value="1" class="input--field--number js-input-number-user-inflated" step="any" disabled>&nbsp;&#x4e09;
		</div>
		<div class="content--description">
			<input type="submit" value="Register for Insurance" class="input--field--submit js-submit-button-buy-insurance">
		</div>
	</div>

	<% include partials/footer %>
</body>
</html>