<!DOCTYPE html>
<html>
<head>
	<title>Sunshine Contract</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body class="body-center-content body-background" ng-app="application">
	<div class="content--container--thankYouMessage" ng-controller="userConfirmationPage">
		<div class="content--container--firstMessage noSelectText">
			Thank you for registering!
		</div>
		<div class="content--container--secondMessage">
			Your contract is <a href="https://ropsten.etherscan.io/address/{{hash}}" id="contractID">{{hash}}</a>.
		</div>
	</div>

	<% include partials/footer %>
</body>
</html>