<!DOCTYPE html>
<html>
<head>
	<title>Sunshine Contract</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="body-center-content body-background">
	<div class="content--container--thankYouMessage">
		<div class="content--container--firstMessage noSelectText">
			Thank you for registering!
		</div>
		<div class="content--container--secondMessage">
			Your contract is <span id="contractID">0x0F3E2B805DD942353A52E9DD22D0078a168697c2</span>.
		</div>
	</div>

	<script src="js/scripts.js"></script>
</body>
</html>