<!DOCTYPE html>
<html>
<head>
	<title>Sunshine Contract</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- <script>
		$( function() {
			$('.js-input-date').datepicker({
			  dateFormat: "yy-mm-dd"
			});
		} );
	</script> -->
</head>
<body class="body-center-content body-background">
	<div class="content--container--viewEventsPage">
		<h2 class="text-center noSelectText">Attendees Insured for <span id="eventName">eventName</span></h2>
		<!-- <ul class="listStyle">
			<li>
				<span id="attendeeName1">attendeeName1</span>
			</li>
			<li>
				<span id="attendeeName2">attendeeName2</span>
			</li>
		</ul> -->
		<div class="emptyList">
			No attendees listed
		</div>
	</div>

	<script src="js/scripts.js"></script>
</body>
</html>